<div class="text-center font-semibold">New User Signup</div>
<div class="py-2">
  <form [formGroup]="signUpForm" class="flex flex-col items-center justify-center mx-auto">
    <div class="py-1">
      <div class="text-lg font-base py-1">Name</div>
      <input type="text" formControlName="name" class="p-2 rounded w-full" />
      <div class="text-xs text-red-500" *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">
        Name is required.
      </div>

      <div class="text-lg font-base py-1">Email</div>
      <input type="email" formControlName="mail" class="p-2 rounded w-full" />
      <div class="text-xs text-red-500" *ngIf="signUpForm.get('mail')?.invalid && signUpForm.get('mail')?.touched">
        <span *ngIf="signUpForm.get('mail')?.hasError('required')">Email is required.</span>
        <span *ngIf="signUpForm.get('mail')?.hasError('email')">Enter a valid email.</span>
      </div>

      <div class="text-lg font-base py-1">Password</div>
      <input type="password" formControlName="password" class="p-2 rounded w-full" />
      <div class="text-xs text-red-500" *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
        <span *ngIf="signUpForm.get('password')?.hasError('required')">Password is required.</span>
        <span *ngIf="signUpForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</span>
      </div>
    </div>

    <button class="btn-primary mt-5" type="submit" [disabled]="signUpForm.invalid" (click)="onClick()">
      Sign Up
    </button>
  </form>

  <div class="text-center mt-2">
    Already have an account?
    <a routerLink="/login" class="text-blue-500 px-2">Login</a>
  </div>
</div>
