<div class="h-[calc(100vh-50vh)] bg-gradient-to-r from-sky-500 to-indigo-500 bg-center bg-cover">

  <div class="pt-[10vh] flex flex-wrap w-full text-sm py-3">
    <div class="max-w-[70rem] w-full mx-auto px-4 flex flex-wrap items-center justify-between">

      <a class="flex-none text-2xl font-semibold" href="#">Todo List</a>
      <div class="flex items-center gap-x-2">
        <button type="button" class="btn-primary">Login</button>
      </div>

    </div>
  </div>

  <div class="pt-[10vh] p-10">
    <div class="h-[calc(100vh-50vh)] w-[calc(150vh-10vh)] bg-gradient-to-r from-sky-100 to-indigo-100 p-10 flex flex-col justify-center mx-auto">
      <div class="text-center text-xl py-5">Welcome Todo List Application</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

